.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
forecast/_forecast/
forecast/images/
forecast/.quarto/
*.css
*.csv
*.docx
*.html
*.json
*.js
*.pdf
*.png
*.rds
*.woff
*.xl*

.Rdata
.httr-oauth
.DS_Store

/.quarto/
